<ul>
  <li>
    <%= link_to t('.create_new'), refinery.new_redirections_admin_redirection_path,
                 :class => "add_icon" %>
  </li>
  <li>
    <%= link_to t('.list'), refinery.redirections_admin_redirections_path,
                 :class => "manage_icon" %>
  </li>
</ul>

